[submodule "GA-041 Fundamentos de Modelagem/Trabalho/GA-041 Fundamentos de Modelagem/Trabalho/rayleigh_benard_lorenz_system"]
	path = GA-041 Fundamentos de Modelagem/Trabalho/GA-041 Fundamentos de Modelagem/Trabalho/rayleigh_benard_lorenz_system
	url = https://github.com/rezendegabriel/rayleigh_benard_lorenz_system.git
